Lenguaje de marcas/XML/EXAM2022/pagos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="pagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" maxOccurs="3" default="A"/>
        <xs:element name="fechaNacimiento" type="xs:string"/>
        <xs:element name="hora" type="xs:string" maxOccurs="unbounded"/>
        <xs:element name="precio" type="xs:string"/>
        <xs:element name="cantidad" type="xs:string" fixed="678"/>
        <xs:element name="pagado" type="xs:string" default="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
